<div class="container">


   


    <!--Who we are place-->
    <div class="sec3abo">
    <h1>About Metropolitan Movers</h1>
    
    <div class="aboutin">
    
    <div style="float: left; padding: 20px 0 0; width: 370px;">
      <img src="http://www.metropolitanmovers.ca/images/aber.jpg" />
        
      <div class="aboutom">
        <h1>Contact Us</h1>
        <strong>Phone:</strong> (647) 870-8500<br>
        <strong>Mail:</strong> Service@MetropolitanMovers.ca<br><br>
        
        <strong>HR Department:</strong> 289-796-0003 
        
        
        </div>
    </div>
    
    <div style="float: left; padding: 20px 0 0; width: 700px;">
    <p>The moving industry has a tendency to focus on the physical aspect of the work and neglect the customer. The direct result is that, as a society, we consider the process of moving stressful and difficult. </p>
    <p>Metropolitan Movers was established in 2010 as a moving brokerage company with the aim of introducing customer focus to the moving industry. By acting as the middle person between the customers and the movers, we obtained the ability to customize the provided service to the needs of each customer, consequently reducing the stress and increasing the satisfaction they experience.</p>
    <p>Winning the consumer choice award in 2012 motivated us even more to provide the best possible moving experience. We decided that the best way to ensure customer satisfaction is to have full control of the quality of the service providers. In 2013 we established a franchise system to accommodate this decision, and has since won the Top Choice award for the second year in a row. </p>
    <p>All of the franchisees in our constantly expanding franchise network receive training and guidance to ensure the best quality of work and customer service in the industry. </p>
    
    <h4>Mission Statement</h4>
    <p>Metropolitan Movers offers peace of mind during the process of relocation. We aim to provide customer focused moving services by a trained team. We invest in our personnel so they can, and want to, invest in our customers. Each crew member is trained according to our feedback-based, constantly improving training system designed to provide our customers with the highest level of service available in the industry.</p>
    
    </div>
    
    </div>
    </div>
    <!--Who we are place-->
    
     
    
    
       <!-- Team Members Row -->
       <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://avatars0.githubusercontent.com/u/19266959?s=400&v=4" alt="">
            <h3>Mamunur Rahman</h3>
                <p>Angular.Js Seveloper</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-0/p206x206/21765352_852163104950359_7419738059809590658_n.jpg?_nc_cat=0&oh=e836703e12a84e0029e564d6994aa7cb&oe=5B28529A" alt="">
            <h3>Tomin Oleksii</h3>
                <p>Server Side Developer</p>
            
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://c1.staticflickr.com/3/2889/buddyicons/67367431@N05_r.jpg?1494259355#67367431@N05" alt="">
            <h3>Artyom Gorbachevsky</h3>
                <p>Front End Developer</p>
           
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://c1.staticflickr.com/1/787/41329689732_0694b38158_o.jpg" alt="">
            <h3>Chandan </h3>
                <p>Project Manager</p>
          
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
     
    </div>
    