
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a class="navbar-brand">Mover Project</a>
          <ul class="nav navbar-nav">
            <li><a routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a></li>
            <li><a routerLink="" routerLinkActive="active">About</a></li>
            <li routerLinkActive="active"><a routerLink='/customer' >Customer</a></li>
            <li  routerLinkActive="active"><a routerLink='/orderentry'>Order</a></li>
            <li routerLinkActive="active"><a routerLink='/billentry' >Bill</a></li>
            <li routerLinkActive="active"><a routerLink='/customerview' >Customer List</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
