

<style >




</style>

<div class="container">




<!--banner place-->
<div class="lefttab" width="80%">
  <div class="banner"><img src="http://www.metropolitanmovers.ca/images/home-main-banner.jpg"  alt="We Make It Look EASY!"/></div>
  <!--<div class="press"><a href="./news-releases.php"><img src="images/press.jpg" alt="Press Release"/></a></div>-->
  </div>
  <div class="gethome"></div>
  <!--<div class="phonehome">(888) 587-5687</div>
   Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Get a Free Quote</button>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h3>Get a Free Quote</h3>
          </div>
          <div class="modal-body">
            
            
              <form id="contacts"  name="contactform" method="post" action="http://www.metropolitanmovers.ca/thankyou">
              <input  type="text" name="name" placeholder="Name">
              <input type="email" name="email" placeholder="Email">
              <input  type="text" name="phone" placeholder="Phone">
              <input  type="text" name="moving_from" placeholder="Moving From">
              <input  type="text" name="moving_to" placeholder="Moving To">
              <input id="datepicker" type="text" name="moving_date" placeholder="Moving Date">           
              <input class="form_button" type="submit" name="submit" value="Free Quote">
              </form>
              
              
          </div>
  
        </div>
        
      </div>
    </div>

<!--Video place-->
<div class="sec2">
    <div class="sec2le">
    <img src="http://www.metropolitanmovers.ca/images/bulletpoints.png" width="550" alt="Features"/>
 
<img src="http://www.metropolitanmovers.ca/images/vid.jpg" width="550" style="cursor:pointer" /></div>
    <div id="thevideo" style="display:none">
    
    
    <object width="559" height="310" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true"/>
    <param name="allowscriptaccess" value="always"/>
   <!-- <param name="src" value="http://www.youtube.com/v/cbMh0lNLfmM?rel=0;hl=en_US&amp;autoplay=1"/>-->
    <param name="allowfullscreen" value="true"/>
   <!--  <embed width="559" height="310" type="application/x-shockwave-flash" src="http://www.youtube.com/v/cbMh0lNLfmM?rel=0;hl=en_US&amp;autoplay=1" allowFullScreen="true" allowscriptaccess="always" />-->
    </object>
    </div>
  
    
    <div class="clr" ><img src="https://c1.staticflickr.com/1/790/40630683434_3838b49fd9_o.jpg" /></div>
    </div>
    <!--Video place-->
 
    


 

